.main {
  background-color: var(--black);
}

.bannerContainer {
}

.banner {
  width: 100%;
  object-fit: contain;
  max-height: 100vh;
}

.carouselContainer {
  padding: 0;
}

.container {
  min-height: 70vh;
}

.title {
  padding-top: 8vh;
  padding-left: calc(var(--slideWidth) * 0.12);
}

.notFound {
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  padding: 200px 0;

  font-size: 1rem;
}
.notFound li {
  line-height: 1.2rem;
  margin-left: 50px;
  max-width: 80%;
}
