.container {
  height: calc(var(--slideWidth));
  position: relative;
  overflow: hidden;
  /* padding: 0 calc(var(--slideWidth) * 0.12); */
}
.container {
  margin-bottom: calc(var(--slideWidth) * -0.22);
}
.header {
  top: calc(var(--slideWidth) * 0.035);
  position: absolute;
  z-index: 0;
}

.body {
  position: relative;
  overflow-x: scroll;
  z-index: 1;
  display: grid;
  height: calc(var(--slideWidth));
  align-content: center;
  white-space: nowrap;
  transition: 450ms all;
  -webkit-transition: 450ms all;

  /* dynamically remove these margins depending on scroll positon if infinite scroll wont work*/
  /* margin-left: calc(var(--slideWidth) * -0.12);
  margin-right: calc(var(--slideWidth) * -0.12);
  padding-left: calc(var(--slideWidth) * 0.12); */
}
/* Hide scrollbar chrome*/
.body::-webkit-scrollbar {
  width: 0 !important;
}
/* Hide scrollbar firefox */
.body {
  overflow: -moz-scrollbars-none;
}

/* hide IE 10+*/
.body {
  -ms-overflow-style: none;
}

.column {
  display: inline-flex;
}
.column > div:hover {
  transform: scale(2);
}
/* ==============FIRST SLIDE======================*/
.column > div:first-child:hover ~ div {
  transform: translate3d(calc(var(--slideWidth)), 0, 0) !important;
}
.column > div:first-child {
  transform-origin: center left;
}

/* ==============MIDDLE SLIDES=====================*/
/* all slides on right of hovered item*/
.column > div:hover ~ div {
  transform: translate3d(calc(var(--slideWidth) / 2), 0, 0) !important;
}
/*  all*/
.column:hover > div:not(:hover) {
  /* By Default, slideTransaltMult is -2, it is changed to -1 when hovering over last slide
  This will push the item further to left when hovering on last slide if slideTranslateMult is set to -1*/
  transform: translate3d(
    calc(var(--slideWidth) / var(--slideTranslateMult)),
    0,
    0
  );
}
/* all central items*/
.column > div:not(:first-child):not(:last-child) {
  transform-origin: center;
}

/* ================LAST SLIDE===================== */

.column > div:last-child {
  transform-origin: center right;
}
