.container {
  height: 220px;
}
.header {
  position: absolute;
  padding-left: 50px;
  padding-top: 10px;
}

.body {
  overflow: scroll;
  width: 100%;
}

/* Hide scrollbar chrome*/
.body::-webkit-scrollbar {
  width: 0 !important;
}
/* Hide scrollbar firefox */
.body {
  overflow: -moz-scrollbars-none;
}

/* hide IE 10+*/
.body {
  -ms-overflow-style: none;
}

.body__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 50px 50px; /* Temp */
  padding-bottom: 10px;
}

.body__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
  /* for first one, change to positive number */
  transform: translate3d(-62.5px, 0, 0);
}

/* maybe. its not like netflix*/
