.body {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;

  /* turn off for first element */
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.thumbnail {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  transition: 450ms opacity;
}

.thumbnail:hover {
  opacity: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: 450ms opacity;
}
.overlay:after,
.overlay:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}

.overlay__left {
  bottom: 0px;
  position: absolute;
  padding: 15px;
  font-size: 0.8em;
}

.overlay__left * {
  padding: 1px;
}

.playBtn {
  font-size: 0.7em;
  color: red;
  border: 1px solid grey;
  border-radius: 100%;
  padding: 3px 2px 3px 3px;
}

.overlay__text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 2px;
  width: 100px;
}
.dot {
  color: grey;
}

.overlay__match {
  /* Match Rating*/
  color: #00ee00;
}
.overlay__maturity {
  /* Maturity Rating*/
  border: 1px solid var(--white);
  padding: 0px 2px 0px 2px;
}

.overlay__right {
  bottom: 0px;
  right: 0px;
  position: absolute;
  padding: 15px;
  font-size: 0.8em;
}
.overlay__btnContainer > .btn {
  margin: 3px auto;
  border: 1px solid grey;
  border-radius: 100%;
  opacity: 0.7;
}

.btn > i {
  padding: 3px 2px 3px 3px;
}

.btn:hover {
  color: white;
  opacity: 1;
}
.body:hover .overlay {
  opacity: 1;
}

.body:hover ~ .body {
  -webkit-transform: translate3d(125px, 0, 0);
  transform: translate3d(125px, 0, 0);
}

.body {
  opacity: 0.3;
}
.body:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}
