.body {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;

  /* turn off for first element */
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.thumbnail {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  transition: 300ms opacity, visibility 0s linear 300ms;
  -moz-transition: 300ms opacity, visibility 0s linear 300ms;
  -ms-transition: 300ms opacity, visibility 0s linear 300ms;
  -o-transition: 300ms opacity, visibility 0s linear 300ms;
  -webkit-transition: 300ms opacity, visibility 0s linear 300ms;
}
.thumbnail:hover {
  opacity: 0;
}

.body:hover {
  opacity: 1;
}

.body:hover ~ .body {
  -webkit-transform: translate3d(125px, 0, 0);
  transform: translate3d(125px, 0, 0);
}

.body {
  opacity: 0.3;
}
.body:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}
