/*===================
 Base Styling
*/

:root {
  --black: #141414;
  --white: #fff;
  --grey: #dfdfdf;
  --grey1: #f3f3f3;
  --grey2: #999999;
  --grey3: #bababa;
  --lightBlue: #2a94fc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
